section {    
    padding: 60px 50px;

    .container {       
        margin: 0 8%;
    }
}

@media (max-width: 1200px) {
    section {     
        .container {  
            margin: 0;
        }
    }
}

@media (max-width: 768px) {
    section { 
        padding: 60px 10px;
    }
}